

html {
  box-sizing: border-box;
}

.container-div {
  text-align: center;
  min-height: 100vh;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.quizBox{
  margin-bottom: 20%;
}

.mainQuizDetail {
  border: solid;
  padding: 1.2rem;
  border-radius: 10px;

}